.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
}

.timer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.white-timer,
.black-timer {
  margin-bottom: 5vh; /* Reduced margin for better spacing */
  padding: 25px 40px;
  font-size: 30px;
  border-radius: 10px;
  background-color: #27343a;
  color: #ffffff;
  border: 5px solid; /* Removed color definition to use default color */
}

.white-timer {
  border-color: #fff; /* Specific border color for white timer */
}

.black-timer {
  border-color: #000; /* Specific border color for black timer */
}

.reset-container {
  margin-bottom: 5vh; /* Reduced margin for better spacing */
}

.reset-container button {
  padding: 15px 30px;
  font-size: 20px;
  border-radius: 10px;
  border: none;
  background-color: #9ea5a8;
  color: #000;
}

.set-time-container {
  margin-bottom: 5vh; /* Reduced margin for better spacing */
  text-align: center;
}

.set-time-container input[type="number"] {
  padding: 8px;
  margin: 5px;
  border: 2px solid #1b9dd4;
  border-radius: 8px;
  font-size: 16px;
  width: 80px;
  text-align: center;
}

.set-time-container button {
  padding: 10px 20px;
  margin: 10px;
  background-color: #9ea5a8;
  color: #000;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.pause-timer {
  margin-bottom: 10px;
  padding: 15px 30px;
  font-size: 20px;
  border-radius: 20px;
  border: none;
  background-color: #ff0022;
  color: #ffffff;
}

.active-color {
  background-color: #13b819;
}

.white-timer h2 {
  transform: rotate(180deg); /* Corrected rotate property */
}

.setTime-display {
  display: none;
}
