<body>
  <div class="container">
      <div class="set-time-container">
          <input type="number" placeholder="Min" #Input>
          <button (click)="setTotalTime(Input.value)">Set Time</button>
      </div>
      <div class="timer-container">
          <div (click)="startAndStopClock(true)" class="white-timer">
              <h2>{{ whitePlayer.minutes | number: '2.0' }} : {{ whitePlayer.seconds | number: '2.0' }}</h2>
          </div>
          <div (click)="startAndStopClock(false)" class="black-timer">
              <h2>{{ blackPlayer.minutes | number: '2.0' }} : {{ blackPlayer.seconds | number: '2.0' }}</h2>
          </div>
      </div>
      <div class="reset-container">
          <button (click)="reset()">Reset</button>
      </div>
  </div>
</body>
