.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
}


.timer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.white-timer {
  margin-bottom: 20px;
  padding: 50px 80px;
  font-size: 30px;
  border-radius: 10px;
  border: 5px solid #fff;
  background-color: #27343a;
  color: #ffffff;
  rotate: 180;
}

.black-timer {
  margin-bottom: 20px;
  padding: 50px 80px;
  font-size: 30px;
  border-radius: 10px;
  border: 5px solid #000;
  background-color: #27343a;
  color: #ffffff;
}

.reset-container {
  margin-bottom: 20px;
}

.reset-container button {
  padding: 15px 30px;
  font-size: 20px;
  border-radius: 10px;
  border: none;
  background-color: #9ea5a8;
  color: #000;
}

.set-time-container {
  margin-bottom: 20px;
  text-align: center;
}

.set-time-container input[type="number"] {
  padding: 8px;
  margin: 10px;
  border: 2px solid #9ea5a8;
  border-radius: 8px;
  font-size: 16px;
  width: 80px;
  text-align: center;
}

.set-time-container button {
  padding: 10px 20px;
  margin: 10px;
  background-color: #9ea5a8;
  color: #000;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}


.pause-timer {
  margin-bottom: 20px;
  padding: 15px 30px;
  font-size: 20px;
  border-radius: 20px;
  border: none;
  background-color: #ff0022;
  color: #ffffff;
}

.active-color {
  background-color: #13b819;
}

.white-timer h2 {
  rotate: 180deg;
}

.setTime-display {
  display: none;
}